.logo {
  width: 100px;
}

.logo:hover{
  opacity: 0.7;
  cursor: pointer;
}

.logo:active {
  transform: scale(0.9);
}

.nupp {
  background-color: snow;
  border-radius: 5px;
}

.nupp:hover {
  background-color: beige;
  cursor: pointer;
}

.nupp:active {
  background-color: azure;
  text-decoration: underline;  
}

.kuldne {
  color: goldenrod;
  font-weight: bold;
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
}

.linn-aktiivne, .keel-aktiivne {
  color: rgb(227 6 140);
  text-decoration: underline;
  background-color: rgb(3, 3, 10);
}

.kalkulaator button {
  width: 50px;
  height: 50px;
}
